.ready-area{ 
    position: relative;
    padding: 50px 0 150px;
    .ready-content{
        text-align: center;
        max-width: 550px;
        margin: 0 auto;
        p{ 
        }
    }
}

.ready-shape{
    &::after,
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 47px;
        height: 60%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }
    &::before{
        left: 0;
        background-image: url('../../assets/img/ready-shap1.png');
    }
    &::after{
        right: 0;
        background-image: url('../../assets/img/ready-shap2.png');
    }
}

@media (max-width: 767.98px){
    .ready-shape{
        display: none;
    }
    .ready-area { 
        padding: 50px 0 90px;
    }

    .container{
        padding: 0 20px;
    }
}